<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
   <%= stylesheet_link_tag 'application.tailwind' %>
  </head>
  <body>
<div>
<section class="rounded-lg p-8 flex items-center">
    <img class="h-48 border" src="<%= @user.photo %>">
    <div class="ml-4 text-center flex inform border">
      <h2 class="font-bold mr-4 mb-2 header-font"><%= @user.name %></h2>
      <p class="text-red-600 par">Number of posts: <%= @user.posts_counter %></p>
    </div>
    <!-- display user's posts, comments, likes, etc. -->
</section>
<section class="rounded-lg border p-8 items-center">
        <h3 class="font-bold">Bio</h3>
        <p class="">
        <%= @user.bio %>
        </p>
</section>
<% @user.recent_posts.each do |post| %>
<section class="rounded-lg p-8 items-center border"">
    <h3 class="font-bold">Post #<%= post.id %></h3>
        <p class=""><%= post.text %></p>
    <h5 class="text-red-900 font-bold mt-4 text-right"> comments: <%= post.comments_counter %>, likes: <%= post.likes_counter %></h5>
    <!-- display user's posts, comments, likes, etc. -->
</section>
<% end %>
</div>
<button class="border p-6  font-bold btn">See all posts</button>
  </body>
</html>
