<div class="m-4" style="display:flex; flex-direction:column; align-items:stretch; row-gap:2vh">
  <div>
    <div class="rounded-lg p-8 items-center border">
      <div class="flex justify-between">
        <h3 class="font-bold">Post #1 by <%= @user.name %></h3>
        <h5 class="text-red-900 font-bold mt-4 text-right"> comments: <%= @post.comments_counter %>, likes: <%= @post.likes_counter %></h5>
      </div>
      <p class=""><%= @post.text %> </p>
    </div>
 <% if @post.recent_comments.any? %>
       <div class="border mt-4" style="padding: 2rem">
      <% @comments.each do |comment| %>
      <div>
          <p class="font-bold"> <%= comment.author.name %>: Comment <%= comment.id %> <p>
          <p> <%= comment.text %></p>
        </div>
        <div>
            <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form|%>
               <%= form.submit 'Like post', style: 'background-color: red; color: white; font-weight: bold; padding: 0.5rem 1rem; margin:1rem; border-radius: 9999px;' %>

            <%end%>
          </div>
      <% end %>
        </div>
    <% end %>
  </div>
</div>
  <li class="li-box">
    <a href="<%= url_for(new_user_post_comment_path(@user, @post)) %>" class="button button-wide" style='background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; margin:1rem; border-radius: 9999px;' >Add Comment</a>
  </li>
