<!DOCTYPE html>
<html>
  <head>
  <title> post </title>
    <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <div class="container">
  <div>
    <div class="rounded-lg p-8 items-center border">
      <div class="flex justify-between">
        <h3 class="font-bold">Post #1 by <%= @user.name %></h3>
        <h5 class="text-red-900 font-bold mt-4 text-right"> comments: <%= @post.comments_counter %>, likes: <%= @post.likes_counter %></h5>
      </div>
      <p class=""><%= @post.text %> </p>
    </div>
 <% if @post.recent_comments.any? %>
      <% @post.recent_comments.each do |comment| %>
        <div class="font-bold border m-4">
          <p> <%= comment.author.name %>: Comment <%= comment.id %> <p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  </body>
</html>
